body {
  overscroll-behavior: contain;
}

button {
  background-color: blue;
  color: bisque;
}

 #mytree .folder { background:url("lib/jstree/custom_sprite40px.png") no-repeat -3px -56px !important;}
 #mytree .file { background:url("lib/jstree/custom_sprite40px.png") no-repeat -6px -2px !important;}
 .jstree-default-responsive .jstree-leaf>.jstree-ocl{
 background-size: auto;}

 /*
  .jstree-default-responsive .jstree-leaf>.jstree-ocl{
    background: url('lib/jstree/40px.png') no-repeat 120px 240px !important;
 }
 

.jstree-icon .jstree-ocl::after { 
  background: url('lib/jstree/40px.png')  no-repeat -60px -160px !important;  
}
 
.jstree-default-responsive .jstree-node, .jstree-default-responsive .jstree-icon, .jstree-default-responsive .jstree-node>.jstree-ocl, .jstree-default-responsive .jstree-themeicon, .jstree-default-responsive .jstree-checkbox {
 

    }

    .jstree-open > .jstree-ocl::after { 
      background: url('lib/jstree/40px.png')  no-repeat -60px -160px !important;    
    }
/*

  background: url('lib/jstree/40px.png')  no-repeat -60px -160px !important;
.jstree-ocl { background:transparent !important; }

.jstree-ocl::after { 
  font-family: "Font Awesome 5 Free"; font-weight: bolder; 
  font-size: 1.8em;
  content:"\f105"; }

.jstree-open > .jstree-ocl { 
    background:transparent !important;
}
.jstree-open > .jstree-ocl::after { 
  font-family: "Font Awesome 5 Free"; font-weight: bolder; font-size: 1.8em;
  content:"\f107" !important; }

.jstree-closed > .jstree-ocl { 
    background:transparent !important;
}
.jstree-closed > .jstree-ocl::after {
  font-family: "Font Awesome 5 Free"; font-weight: bolder; font-size: 1.8em; content:"\f105" !important; }
*/

